<ion-view view-title="About" ng-init="onInit()">
  <ion-content class="padding center">

<div class="list card">

  <div class="item item-avatar">
    <img class="profile-picture" src="img/lo.png" />
    <h2>Switch8 {{ver}}</h2>
    <p>by ioCare</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/1024x500.png" />
    <p>
      Wireless Home Control solution to control all home appliances.
    </p>
  </div>

  <a class="item item-icon-left" href="mailto:research@iocare.in?Subject=Need Help">
    <i class="icon ion-ios-email-outline"></i>
    research@iocare.in
  </a>


</div>


  </ion-content>
</ion-view>
