<ion-view view-title="Home" ng-init="Init()" hide-back-button="false" class="bg-bg">
<ion-floating-button ng-click="AddRoom()" has-footer="false" button-color="#009688" icon="ion-plus" iconColor="#fff">
</ion-floating-button>

<ion-content header-shrink class=" padding">
<div style="height: 50px"></div>

	<div class="row button-row" ng-repeat="room in rooms" ng-if="$index % 2 === 0">
		<div class="col col-50 on text-center" ng-if="$index < rooms.length">
			<!-- <img ng-src="{{buttons[$index + 1].src}}" width="100%" /> 
			class="button button-{{buttons[$index].state=='on'?'positive':'dark'}} large_button" 

			ng-class ="{'button large_button  button-dark': !buttons[$index].state, ' button large_button  button-calm': buttons[$index].state}" 
			-->
			<a id="{{$index}}" on-hold="EditRoom($index)" value="{{!rooms[$index].id}}" href="#/app/home/{{rooms[$index].id}}" class="button button-dark large_button1" >
				<i class="i_{{rooms[$index].type}} icon_custom"></i>
				<span class="bt">{{rooms[$index].name}}</span>
			</a>
		</div>
		<div class="col col-50 text-center" ng-if="$index + 1 < rooms.length">
			<!-- <img ng-src="{{buttons[$index + 1].src}}" width="100%" /> -->
			<a id="{{$index+1}}" on-hold="EditRoom($index+1)" value="{{!rooms[$index+1].id}}" href="#/app/home/{{rooms[$index+1].id}}" class="button button-dark large_button1">
				<i class="i_{{rooms[$index+1].type}} icon_custom"></i>
				<span class="bt">{{rooms[$index + 1].name}}</span>
			</a>           
		</div>

		
	</div>

<br><br>
		

  </ion-content>
</ion-view>
