<ion-view view-title="Login" hide-nav-bar="true" class="cover">
  <ion-content class="padding ">


	<div class="row">
		<div class="col col-100 fixed-outside">
<h1 class="h-login">Login</h1>
		  <div class="list list-inset ">
			  <label class="item item-input">
				  <input type="text" placeholder="Username" ng-model="data.username">
			  </label>
			  <label class="item item-input">
				  <input type="password" placeholder="Password" ng-model="data.password">
			  </label>
		  </div>
			<button class="button button-block button-assertive large_button1" ng-click="login()">Login</button>
		</div>
	</div>


  </ion-content>
</ion-view>
